{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-syntax-import-meta",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "@babel/proposal-object-rest-spread",
    "@babel/plugin-transform-typescript",
    ["@babel/proposal-class-properties", { "loose" : true}]
  ],
  "sourceMaps": "inline",
  "retainLines": true
}